@use "sass:math";

#app {
    margin-top: 48px;
    margin-left: 48px;

    display: flex;
    flex-wrap: wrap;

    width: 300px;

    position: relative;

    > div.cell {
        width: 100px;
        height: 100px;
        border: 1px solid black;
        box-sizing: border-box;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        &.cross {
            &:before,
            &:after {
                content: "";
                width: 80% * math.sqrt(2);
                height: 3px;
                background: black;
                border-radius: 2px;
                position: absolute;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
        &.zero {
            &:after {
                content: "";
                width: 80%;
                height: 80%;
                border: 3px solid black;
                border-radius: 50%;
            }
        }
    }
}

div.popup-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none; // flex
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);

    > div.popup {
        background-color: white;
        width: 300px;
        border-radius: 15px;
        padding: 16px;
    }
}