@use "sass:math";

#app {
    margin-top: 48px;
    margin-left: 48px;

    display: flex;
    flex-wrap: wrap;

    width: 300px;

    position: relative;

    > div.cell {
        width: 100px;
        height: 100px;
        border: 1px solid black;
        box-sizing: border-box;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        &.cross {
            &:before,
            &:after {
                content: "";
                width: 80% * math.sqrt(2);
                height: 3px;
                background: black;
                border-radius: 2px;
                position: absolute;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
        &.zero {
            &:after {
                content: "";
                width: 80%;
                height: 80%;
                border: 3px solid black;
                border-radius: 50%;
            }
        }
    }
}

div.popup-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none; // flex
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);

    &#popup-start {
        display: flex;
        > div.popup {
            > div.body {
                > form {
                    display: flex;
                    flex-direction: column;
                    > label {
                        margin-bottom: 12px;
                        display: flex;
                        align-items: center;
                        > :first-child {
                            width: 30%;
                        }
                        > :last-child {
                            width: 70%;
                        }
                        > * {
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }

    > div.popup {
        background-color: white;
        width: 300px;
        border-radius: 15px;
        padding: 16px;
    }
}

form {
    // margin: 40px 40px 100px;


}

div.select {
    // margin: 40px;
    width: 250px;

    position: relative;
    > div.title {
        border: 1px solid black;
        border-radius: 3px;
        padding: 8px 4px;
        box-sizing: border-box;
        background-color: white;
        box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
    }
    > div.body {
        // border: 1px solid black;
        border-radius: 3px;
        position: absolute;
        width: 100%;
        background-color: white;
        box-sizing: border-box;
        top: calc(100% + 3px);
        box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
        // display: none;
        height: 0;
        overflow: hidden;
        transition: height 3s;
        z-index: 99;
        > div {
            padding: 8px 4px;
            &:hover {
                background-color: rgba(0,0,255,0.05);
                cursor: pointer;
            }
        }
    }
}

#score {
    margin-top: 32px;

    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > div {
        display: flex;
        &:first-child {
            border-bottom: 1px solid black;
        }
        > span {
            text-align: center;
            width: 50%;
            box-sizing: border-box;
            &:first-child {
                border-right: 1px solid black;
            }
        }
    }
}